html, header, body {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
}

@media only screen and (max-width: 1200px) {
    html, header, body {
        font-size: 18px;
    }
}


@media only screen and (max-width: 992px) {
    html, header, body {
        font-size: 16px;
    }
}


@media only screen and (max-width: 768px) {
    html, header, body {
        font-size: 14px;
    }
}

@media only screen and (max-width: 576px) {
    html, header, body {
        font-size: 12px;
    }
}
header {
    background-color: #FFFFFF;
    letter-spacing: 2px;
}

body { 
    background-color: #F2F2F8;
}

.navbar-text{
    font-weight: 500;
}

.navbar-collapse .navbar-nav .nav-link:hover{
    color: #A3D5FF;
}

#navbar-name{
    padding-right: 10px;
    font-weight: 600;
}

#navbar-button {
    border: none;
}

#navbar-button:hover {
    background-color: #DFDFDF;
}

#navbar-button:focus {
    outline: none;
}

#home {
    background-color: #F2F2F8;
}

.bg-grey {
    background-color: #F2F2F8;
}

.bg-white {
    background-color: #FF0000;
}

#intro{
    text-align: center;
    padding: 100px;
    white-space: nowrap;
}
